.grid { 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
  }
.grid > article {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
}
.grid > article img {
  max-width: 100%;
}

  #cardbnb{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
  }
  img{

  }
  .text{
    display: block;
    align-items: flex-end;
  }
   .text>p{
    margin: 3px; 
    }
   .p{

    font-weight: bold; 
   }
